{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
    <h1>{{ carte.Nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ carte.Nom }}</td>
            </tr>
            <tr>
                <th>Attaque</th>
                <td>{{ carte.Attaque }}</td>
            </tr>
            <tr>
                <th>Défense</th>
                <td>{{ carte.defense }}</td>
            </tr>
            <tr>
                <th>Pouvoir</th>
                <td>{{ carte.pouvoir }}</td>
            </tr>
            <tr>
                <th>Paquet</th>
                <td>{{ carte.paquet }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td>{{ carte.proprietaire.pseudo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paquet_show', {'id': carte.paquet.id}) }}">Retourner au deck</a>
    {% if app.user %}
	{% if carte in app.user.cartes or is_granted('ROLE_ADMIN') %}
        {{ include('carte/_delete_form.html.twig') }}
    {% endif %}
    {% endif %}
{% endblock %}
